ENVIRONMENT=production
HIBACHI_API_ENDPOINT_PRODUCTION=https://api.hibachi.xyz
HIBACHI_DATA_API_ENDPOINT_PRODUCTION=https://data-api.hibachi.xyz
HIBACHI_API_KEY_PRODUCTION=
HIBACHI_PRIVATE_KEY_PRODUCTION=
HIBACHI_PUBLIC_KEY_PRODUCTION=
HIBACHI_ACCOUNT_ID_PRODUCTION=

HIBACHI_ENABLE_LIVE_TRADING=
